$dark-bkgrnd: #171a21;
$dark-bkgrnd-lighter: lighten($dark-bkgrnd, 10%);
$light-highlight: #abafb9;
$text-color: rgb(226, 226, 226);
$transparent-text: rgba(226, 226, 226, 0.51);
$game-background-color: darken($dark-bkgrnd, 20%);
$steam-blue: #67c1f5;


html {
  height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient($dark-bkgrnd, $dark-bkgrnd-lighter);
  background-attachment: fixed;
  font-family: 'Josefin Sans', sans-serif;
  color: $text-color;
}

.hover-box-shadow {
  transition: 0.7s ease;
  &:hover {
    box-shadow: 0px 0px 5px 2px $light-highlight;
  }
}

.no-bottom-margin {
  margin-bottom: 0;
}

.navigation-link {
  background-color: $dark-bkgrnd;
  color: $steam-blue;
  border: 1px solid $steam-blue;
  border-radius: 5%;
  transition: 0.7s ease;
  &:hover {
    color: $dark-bkgrnd;
    background-color: $steam-blue;
    text-decoration: none;
  }
  &:focus {
    color: $dark-bkgrnd;
    background-color: $steam-blue;
  }
  &:active {
    color: $dark-bkgrnd;
    background-color: $steam-blue;
  }
}
