$dark-bkgrnd: #171a21;
$dark-bkgrnd-lighter: lighten($dark-bkgrnd, 10%);
$light-highlight: #abafb9;
$text-color:rgb(226, 226, 226);


html {
  height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient($dark-bkgrnd, $dark-bkgrnd-lighter);
  background-attachment: fixed;
  font-family: 'Josefin Sans', sans-serif;
  color: $text-color;
}
